button {
  display: block;
  padding: 5px 20px;
  background-color: #9d2b86;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #b1429b;
}
.container-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 5px;
}

.input-group input {
  /* width: 200px; */
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #797979;
}
.input-item {
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
}

.registration-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.item-profile {
  padding: 5px;
  border-radius: 8px;
  border: 2px dashed #9d2b86;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.color-text {
  color: #9d2b86;
}

.circle-container {
  position: relative;
}
.circle {
  width: 100px;
  height: 100px;
  border: 5px solid #f39400;
  border-radius: 50%;
  position: absolute;
  right: 42%;
  top: 10px;
}

.cont-text {
  background-color: #fff;
  position: relative;
}

@media (max-width: 1230px) {
  .circle {
    right: 40%;
  }
}
@media (max-width: 1000px) {
  .circle {
    right: 38%;
  }
}
@media (max-width: 850px) {
  .circle {
    right: 36%;
  }
}

@media (max-width: 768px) {
  .registration-container {
    flex-direction: column;
  }

  .image-container {
    height: 200px;
    width: 100%;
  }

  .image-container img {
    height: 100%;
    width: auto;
    object-fit: cover;
  }

  .form-container {
    width: 100%;
  }
  .circle {
    right: 85%;
    top: 710px;
  }
  .cont-text {
    background-color: #fff;
    position: relative;
  }
}
@media (max-width: 664px) {
  .circle {
    right: 84%;
  }
}
@media (max-width: 581px) {
  .circle {
    right: 80%;
  }
}
